<div class="background-image">
  <%= image_tag("background image/background.png") %>
</div>

<div class="container-fluid">
  <h1 class="carousel-caption">BEST SELLERS</h1>
</div>

<section id="carousel">
  <div class="slideshow-container">
    <div class="slide">
      <%= link_to image_tag("dreams/Dream.png", :size => "350x280", class:"img-responsive", alt:"Vase"), products_path %>
    </div>
    <div class="slide">
      <%= link_to image_tag("power_hour/power_hour_7.png", :size => "350x280", class:"img-responsive", alt:"Potion"), products_path %>
    </div>
    <div class="slide">
      <%= link_to image_tag("dreams/Dream_2.png", :size => "350x280", class:"img-responsive", alt:"Bottle"), products_path  %>
    </div>
    <div class="slide">
      <%= link_to image_tag("dreams/dream_5.jpg", :size => "350x280", class:"img-responsive", alt:"Vile"), products_path  %>
    </div>
    <!--        <div class="slide">-->
    <!--          <img src="http://placehold.it/300x150"/>-->
    <!--        </div>-->
    <!--        <div class="slide">-->
    <!--          <img src="http://placehold.it/300x150"/>-->
    <!--        </div>-->
    <!--        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>-->
    <!--        <a class="next" onclick="plusSlides(1)">&#10095;</a>-->

  </div>

</section>