<div class="background-image">
  <%= image_tag("background image/background.png") %>
</div>

<div class="slideshow-container">
  <h1 class="text-center">BEST SELLERS</h1>

  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="row">
          <div class="col-3"><%= link_to image_tag("dreams/Dream.png", :size => "350x280", class:"d-block w-100", alt:"dream-potion"), product_path(3) %></div>
          <div class="col-3"><%= link_to image_tag("power_hour/power_hour.png", :size => "350x280", class:"d-block w-100", alt:"power-potion"), product_path(19) %></div>
          <div class="col-3"><%= link_to image_tag("dreams/Dream_2.png", :size => "350x280", class:"d-block w-100", alt:"dream-potion"), product_path(1) %></div>
          <div class="col-3"><%= link_to image_tag("dreams/dream_5.jpg", :size => "350x280", class:"d-block w-100", alt:"dream-potion"), product_path(4) %></div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row">
          <div class="col-3"><%= link_to image_tag("emotions/Emotion_2.png", :size => "350x280", class:"d-block w-100", alt:"emotion-potion"), product_path(11) %></div>
          <div class="col-3"><%= link_to image_tag("dreams/dream_.3.png", :size => "350x280", class:"d-block w-100", alt:"dream-potion"), product_path(10) %></div>
          <div class="col-3"><%= link_to image_tag("dreams/dream_4.png", :size => "350x280", class:"d-block w-100", alt:"dream-potion"), product_path(17) %></div>
          <div class="col-3"><%= link_to image_tag("emotions/emotion.png", :size => "350x280", class:"d-block w-100", alt:"emotion-potion"), product_path(6) %></div>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

</div>
