<h1><%= @user.username %>'s SALE HISTORY </h1>
<br>

<h3><%= link_to "Back to Sales Account", user_path(session[:user_id]), class: "btn btn-secondary" %></h3>
<br>
<table class="table">
  <h3 class="orders-show__header">ORDER SUMMARY</h3>
  <tr>
    <td></td>
    <th scope="col">ORDERS</th>
    <th scope="col">REVENUE</th>
  </tr>
  <tr>
    <th scope="row">PENDING</th>
    <td><%= @user.total_orders_by_status("pending")%></td>
    <td>$<%= @user.total_rev_filtered("pending") %></td>
  </tr>
  <tr>
    <th scope="row">PAID</th>
    <td><%= @user.total_orders_by_status("paid") %></td>
    <td>$<%= @user.total_rev_filtered("paid") %></td>
  </tr>
  <tr>
    <th scope="row">COMPLETE</th>
    <td><%= @user.total_orders_by_status("complete") %></td>
    <td>$<%= @user.total_rev_filtered("complete") %></td>
  </tr>
  <tr>
    <th scope="row">CANCELLED</th>
    <td><%= @user.total_orders_by_status("cancelled") %></td>
    <td>$<%= @user.total_rev_filtered("cancelled")%></td>
  </tr>
  <tr>
    <th scope="row">TOTAL</th>
    <td><%= @user.total_orders_by_status(nil)%></td>
    <td>$<%= @user.total_rev_filtered(nil) %></td>

  </tr>
</table>

<!--<h5>By Status:</h5>-->
<!--<p><%#= link_to "All Orders", order_path %></p>-->
<!--<p>Paid </p>-->
<!--<p>Completed </p>-->
<!--<%#= link_to "Add Category", new_category_path %></p>-->

<section class="orders-show__container">
  <h3 class="orders-show__header">Products</h3>
  <table class="table">
    <thead>
    <tr>
      <th>Order #</th>
      <th>Purchase Date</th>
      <th>Order Status</th>
    </tr>
    </thead>
    <tbody>
    <!--        <td><%#= link_to @order.id, order_path(@order.id), class: 'table-link' %></td>-->
    <% @user.order_items.each do |item| %>
      <tr>
        <td><%= link_to item.id, order_path(item) %> </td>
        <td><%= item.created_at %></td>
        <td><%= item.order.status %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</section>
<h3><%= link_to "Back to Top", user_dashboard_path, class: "btn btn-secondary" %></h3>