<!--<h2>cart</h2>-->
<!--<p>list all orders</p>-->

<%# @order.order_items.each do |item| %>
<%#= item.product.name %>
<%# end %>
<%#= link_to "Checkout", new_order_path(@order.id) %>


<!--cart-->
<!--<div>-->
<!--  <div>-->
<!--      checkout link-->
    <%#= link_to "Check Out", new_order_path, action: 'new', controller: 'orders', class: 'btn button-style' %>
<!--  </div>-->
<!--  <div>-->
    <%# @cart.each do |product, val|%>
<!--      <p><%#= product.name %> </p>-->
      <%#= image_tag product.photo_url, alt: product.description %>
<!--      <p><%#= product.price.to_f * val.to_i %></p>-->
      <%#= link_to 'Remove', remove_from_cart_path(product.id), method: :post %>
      <%#= link_to "Edit", product_path(product.id) %>
<!--      <h3> Order Total: <%#= OrderItem.order_item_subtotal(@cart) %>  </h3>-->
    <%# end %>
<!--  </div>-->
<!--</div>-->

<section class="orders-show__container">
  <h3 class="orders-show__header">Cart</h3>
  <table class="table">
    <thead>
    <tr>
      <th>Product</th>
      <th>Name</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Remove From Cart</th>
    </tr>
    </thead>
    <tbody>
    <% @order.order_items.each do |item| %>
      <tr>
        <td><%= image_tag( Product.find(item.product_id).photo_url) %></td>
        <td><%= link_to Product.find(item.product_id).name, product_path(item.product_id) %></td>
        <td><%= item.quantity %></td>
        <td><%= Product.find(item.product_id).price %></td>
        <td><%= link_to "Remove ", product_order_item_path(item.product_id, item.id), method: :delete, data: {confirm: "Are you sure you want to remove #{item.product.name} item from cart?"}%>
      </tr>
    <% end %>
    <tr>
      <td>TOTAL: $<%=@order.total%></td>
      <%=link_to "CHECKOUT", edit_order_path(@order)%>

    </tr>
    </tbody>
  </table>
</section>