<h4><%= @logged_in_user.username %> ~ Thank you for your order! </h4>
<h6>...May your dreams come true...</h6></br>

<h5> ORDER CONFIRMATION </h5>
<p>
  We've received your order and will contact you as soon as your package is shipped.
  You can find your purchase information below.
</p>

<h5> Order Summary </h5>

<p>Name: <%= @logged_in_user.username %></p>
<p>Mailing Address:
  <%= @order.street_address %>
  <%= @order.city %>,
  <%= @order.state %>
  <%= @order.zip_code %>
</p>
<p>Email: <%= @logged_in_user.email %></p>
<p>Order #: <%= @order.id %> </p>
<p>Purchased On: <%= @order.created_at.strftime("%m/%d/%Y %H:%M %p") %> </p>
<p>Purchase Status: <%= @order.status %> </p>
<p>Last four digits of Credit Card: <%= @order.credit_card_num[-4..-1] %> </p>
<p>Card Exp. Date:
  <%= @order.cc_exp_month %>/<%= @order.cc_exp_year %>
</p>

<section class="user-votes__container">
  <h3 class="user-votes__header">Products</h3>
  <table class="table">
    <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Quantity</th>
      <th>Product ID</th>
      <th>Price</th>

    </tr>
    </thead>
    <tbody>
      <% @order.order_items.each do |item| %>
        <tr>
          <td><%= link_to item.products.photo_url, product_path(item.product_id)%></td>
          <td><%= item.product.name %></td>
          <td><%= item.product.price %></td>
          <td><%= item.quantity %></td>
          <td><%= item.product_id %></td>

          <%# if product.retired %>
  <!--          <td><%#= product.retired %></td>-->
          <%# end %>
          <%#= link_to "Edit product", edit_product_path(product.id)%>
        </tr>

      <% end %>
    </tbody>
    <tfoot>
    <tr>
      <th><h5 colspan="6">Total</h5></th>
      <td colspan="6">
        <h5> $ <%= @order.total %> </h5>
      </td>
    </tr>
    </tfoot>
  </table>
</section>