<h3> ORDER # <%= @order.id %> </h3>

<p>Name: <%= @order.credit_card_name %></p>
<p>Mailing Address:
  <%= @order.street_address %>
  <%= @order.city %>,
  <%= @order.state %>
  <%= @order.zip_code %>
</p>
<p>Email: <%= @order.email %></p>
<p>Purchased On: <%= @order.created_at.strftime("%m/%d/%Y %H:%M %p") %> </p>
<p>Purchase Status: <%= @order.status %> </p>
<p>Credit Card: <%= @order.credit_card_num[-4..-1] %> </p>
<p>Expiration Date:
  <%= @order.cc_exp_month %>/<%= @order.cc_exp_year %>
</p>

<!--<p><%#= link_to "Back to Sales Dashboard", user_dashboard_path %></p>-->

<section class="user-votes__container">
  <table class="table">
    <thead>
    <tr>
      <th>Product</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Subtotal</th>
      <th>Shipping Status</th>
      <th>Cancel Product</th>
    </tr>
    </thead>
    <tbody>
    <% @order.order_items.each do |item| %>
      <tr>
        <td><%= link_to item.product.name, product_path(item.product.id)%></td>
        <td><%= item.product.price %></td>
        <td><%= item.quantity %></td>
        <td><%= item.order_item_subtotal %></td>
        <td>
          <%= form_with model: @order do |f| %>
            <%= f.hidden_field(:status, value: 'complete')%>
            <%= f.submit 'Complete' %>
          <% end %>
        </td>
        <td>
          <%= form_with model: @order do |f| %>
            <%= f.hidden_field(:status, value: 'cancelled')%>
            <%= f.submit 'Cancel' %>
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</section>