<body>
  <%if @category %>
    <h1>Products by category: <%= @category.category_name %></h1>

    <% if @products.active_only.length > 0 %>
      <% @products.active_only.each do |product| %>
        <li><%= image_tag(product.photo_url, :size => '300x350') %></li>
        <li><%= link_to product.name, product_path(product.id) %></li>
        <li><%= number_to_currency(product.price) %></li>
      <% end %>
    <% else %>
      No products.
    <% end %>

  <%elsif @user %>
    <h1>Products by merchant: <%= @user.username %></h1>

    <% if @user.products.active_only.length > 0 %>
      <% @user.products.active_only.each do |product| %>
        <li><%= image_tag(product.photo_url, :size => '300x350') %></li>
        <li><%= link_to product.name, product_path(product.id) %></li>
        <li><%= number_to_currency(product.price) %></li>
      <% end %>
    <% else %>
      No products.
    <% end %>

  <% else %>
    <h1>Products</h1>

    <% if @products.active_only.length > 0 %>
      <div class="grid">
      <% @products.active_only.each do |product| %>
        <div>
          <%= image_tag(product.photo_url, :size => '300x350', class:"mx-auto d-block") %>
        <div>
          <%= link_to product.name, product_path(product.id), class:"product-name" %>
          <br>
          <%= number_to_currency(product.price, class:"product-price") %>
        </div>
      </div>
      <% end %>
      </div>
    <% else %>
      No products.
    <% end %>
  <% end %>
<%= link_to "Create New Product", new_product_path %>
</body>

