<body>
<div class="products container text-md-center">
<ul>
  <%if @category %>
    <h1>Products by category: <%= @category.category_name %></h1>
  <% else %>
    <h1>Products</h1>
  <% end %>

  <% if @products.length > 0 %>
    <% @products.each do |product| %>
      <li><%= image_tag(product.photo_url, :size => '300x350') %></li>
      <li><%= link_to product.name, product_path(product.id)  %></li>
      <li><%= number_to_currency(product.price) %></li>
    <% end %>
  <% else %>
    No products.
  <% end %>

</ul>
</div>
<%= link_to "Create New Product", new_product_path %>
</body>