<!--Product details-->
<h1><%= @product.name %></h1>
Sold by: <%= @product.user.id %>
<br>
<%= number_to_currency(@product.price) %>
<br>
In Stock: <%= @product.stock %>
<!--might have to change this later. Should just say in stock or not?-->
<br>
Quantity:
<%#= @product.retired %>
<br>
Description: <%= @product.description %>
<br>
<%= link_to "Back", products_path %>
<%= link_to "Update", edit_product_path %>
<%= link_to "Delete", product_path(@product.id), model: :delete, data: {
    confirm: "Are you sure you want to delete this product?"} %>
