<!--Product details-->
<!--add form-->
<!--to add item to car-->
<%= form_with model: @order_item, url: product_order_items_path(@product.id) do |f| %>
  <h1><%= @product.name %></h1>
  Sold by: <%= @product.user.username%>
  <br>
  <%= number_to_currency(@product.price) %>
  <br>
  Stock: <%= @product.stock %>
  Retired: <%= @product.retired %>
  <!--might have to change this later. Should just say in stock or not?-->
  <br>
  <%= f.label :quantity %>
  <%= f.text_field :quantity %>
<%#= @product.retired %>
  <br>
  Description: <%= @product.description %>
  <br>
  <%= link_to "Back", products_path %>
  <%= link_to "Update", edit_product_path %>
  <%= link_to "Delete", product_path(@product.id), model: :delete, data: {
      confirm: "Are you sure you want to delete this product?"} %>
  <%= f.submit "Add to Cart" %>
<% end %>