<!--Product details-->
<h1><%= @product.name %></h1>
<%= number_to_currency(@product.price) %>
<br>
In Stock: <%= @product.stock %>
<!--might have to change this later. Should just say in stock or not?-->
<br>
Quantity:
<%#= @product.retired %>
<br>
Description: <%= @product.description %>
<br>
<%= link_to "Back", products_path %>
