<!--Product details-->
<!--add form-->
<!--to add item to car-->
<%= form_with model: @order_item, url: product_order_items_path(@product.id) do |f| %>
  <h1><%= @product.name %></h1>
  <%= image_tag( @product.photo_url) %>
  <br>
  Description: <%= @product.description %>
  <br>
  <%= number_to_currency(@product.price) %>
  <br>
  Sold by: <%= @product.user.username%>
  <% if @product.stock == 0 %> <br>
    Out of Stock!
  <% elsif @product.stock < 5 %> <br>
    Almost out of Stock!
  <% end %> <br>
  <%= f.label :quantity %>
  <%= f.text_field :quantity, :required => true%>
<%#= @product.retired %>
  <br>
  <%= link_to "Back", products_path %>

<!--  guest user should not have this option -->
  <%= link_to "Update", edit_product_path %>
  <%= link_to "Delete", product_path(@product.id), model: :delete, data: {
      confirm: "Are you sure you want to delete this product?"} %>
  <%= f.submit "Add to Cart" %>
<% end %>