<!DOCTYPE html>
<html>
  <head>
    <title>DREAMsy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC&family=Poiret+One&family=Raleway:wght@100&display=swap" rel="stylesheet">
  </head>

  <body>
  <nav>
    <ul>
      <li>
        <h1><%= link_to "DREAMSy", root_path, class: "dreamsy" %></h1>
      </li>
      <% if @logged_in_user%>
        <li>
          <%= link_to "Log out", logout_path, method: :delete, class: "nav-button" %>
        </li>
      <% else %>
        <li>
          <%= link_to "Login", github_login_path, class: "nav-button" %>
        </li>
      <% end %>
    </ul>
  </nav>

  <% if flash[:error] %>
    <div class="alert alert-warning alert-container">
      <%= flash[:error] %>
      <% if flash[:reason] %>
        <ul>
          <li><%= flash[:reason] %></li>
        </ul>
      <% end %>
    </div>
  <% elsif flash[:success] %>
    <div class="alert alert-success alert-container">
      <%= flash[:success] %>
    </div>
  <% end %>

  <%= yield %>
  </body>
</html>
