<!DOCTYPE html>
<html>
  <head>
    <title>DREAMsy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC&family=Poiret+One&family=Raleway:wght@100&display=swap" rel="stylesheet">
  </head>

  <body>
    <header class="header-container">
      <nav class="navbar navbar-expand-sm">
        <%= link_to "DREAMSy", root_path, class:"navbar-brand" %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"></button>
          <span class="navbar-toggler-icon"></span>
            <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="nav justify-content-center">
              <li class="nav-item">
                <%= link_to "MERCHANTS", users_path, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "PRODUCTS", products_path, class: "nav-link" %>
              </li>
            </ul>
              <ul class ="navbar-nav">
                <% if @logged_in_user%>
                  <li class="nav-item">
                    <%= link_to "Log out", logout_path, method: :delete, class: "nav-link" %>
                  </li>
                <% else %>
                  <li class="nav-item">
                    <%= link_to "Login", github_login_path, class: "nav-link" %>
                  </li>
                <% end %>
            </ul>
          </div>
      </nav>
    </header>
    <div class="background-image">
      <%= image_tag("background image/background.png") %>
    </div>

  <% if flash[:error] %>
    <div class="alert alert-warning alert-container">
      <%= flash[:error] %>
      <% if flash[:reason] %>
        <ul>
          <li><%= flash[:reason] %></li>
        </ul>
      <% end %>
    </div>
  <% elsif flash[:success] %>
    <div class="alert alert-success alert-container">
      <%= flash[:success] %>
    </div>
  <% end %>

  <%= yield %>
  </body>
</html>
