<!DOCTYPE html>
<html>
  <head>
    <title>Betsy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav>
    <ul>
      <li>
        <h1><%= link_to "DREAMSy", root_path, class: "dreamsy" %></h1>
      </li>
      <% if session[:user_id] %>
        <li>
          <%= link_to "Log out", logout_path, method: :delete, class: "nav-button" %>
        </li>
      <% else %>
        <li>
          <%= link_to "Login", github_login_path, class: "nav-button" %>
        </li>
      <% end %>
    </ul>
  </nav>

  <%= yield %>
  </body>
</html>
