<!DOCTYPE html>
<html>
  <head>
    <title>DREAMsy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC&family=Poiret+One&family=Raleway:wght@100&display=swap" rel="stylesheet">
  </head>

  <body>
    <header class="header-container">
      <nav class="navbar navbar-expand-sm">
        <%= link_to "DREAMSy", root_path, class:"navbar-brand" %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"></button>
          <span class="navbar-toggler-icon"></span>
            <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="nav justify-content-center">
              <li class="nav-item">
                <%= link_to "MERCHANTS", users_path, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "PRODUCTS", products_path, class: "nav-link" %>
              </li>
            </ul>
              <ul class ="navbar-nav">
                <% if @logged_in_user%>
                  <li class="nav-item">
                    <%= link_to "Log out", logout_path, method: :delete, class: "nav-link" %>
                  </li>
                <% else %>
                  <li class="nav-item">
                    <%= link_to "Login", github_login_path, class: "nav-link" %>
                  </li>
                <% end %>
            </ul>
          </div>
      </nav>
    </header>

    <section id="carousel">
      <div class="slideshow-container">
<!--        <div class="img-thumbnail">-->
          <%#= image_tag('background image/magical vase.png') %>
<!--        </div>-->
        <div class="slide">
          <img src="http://placehold.it/300x150"/>
        </div>
        <div class="slide">
          <img src="http://placehold.it/300x150"/>
        </div>
<!--        <div class="slide">-->
<!--          <img src="http://placehold.it/300x150"/>-->
<!--        </div>-->
<!--        <div class="slide">-->
<!--          <img src="http://placehold.it/300x150"/>-->
<!--        </div>-->
<!--        <div class="slide">-->
<!--          <img src="http://placehold.it/300x150"/>-->
<!--        </div>-->
<!--        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>-->
<!--        <a class="next" onclick="plusSlides(1)">&#10095;</a>-->

      </div>

    </section>


  <% if flash[:error] %>
    <div class="alert alert-warning alert-container">
      <%= flash[:error] %>
      <% if flash[:reason] %>
        <ul>
          <li><%= flash[:reason] %></li>
        </ul>
      <% end %>
    </div>
  <% elsif flash[:success] %>
    <div class="alert alert-success alert-container">
      <%= flash[:success] %>
    </div>
  <% end %>
  <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
  <%= yield %>
  </body>
  <!-- Footer -->
  <footer class="page-footer font-small stylish-color-dark pt-4">
    <!-- Footer Links -->
    <div class="container text-center text-md-left">
      <!-- Grid row -->
      <div class="row">
        <!-- Grid column -->
        <div class="col-md-4 mx-auto">
          <!-- Content -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">DREAMsy</h5>
          <p>Here you can use rows and columns to organize your footer content. Lorem ipsum dolor sit amet,
            consectetur
            adipisicing elit.</p>
        </div>
        <!-- Grid column -->
        <hr class="clearfix w-100 d-md-none">
        <!-- Grid column -->
        <div class="col-md-2 mx-auto">
          <!-- Links -->
          <h3 class="font-weight-bold text-uppercase mt-3 mb-4">CUSTOMER CARE</h3>
          <ul class="list-unstyled">
            <li>
              <a href="#!">FAQ</a>
            </li>
            <li>
              <a href="#!">Returns</a>
            </li>
            <li>
              <a href="#!">Terms & Conditions</a>
            </li>
            <li>
              <a href="#!">Privacy Policy</a>
            </li>
          </ul>
        </div>
        <!-- Grid column -->
        <hr class="clearfix w-100 d-md-none">
        <!-- Grid column -->
        <div class="col-md-2 mx-auto">
          <!-- Links -->
          <h3 class="font-weight-bold text-uppercase mt-3 mb-4">ABOUT US</h3>
          <ul class="list-unstyled">
            <li>
              <a href="#!">Our Story</a>
            </li>
            <li>
              <a href="#!">Contact Us</a>
            </li>
            <li>
              <a href="#!">Join Our Team</a>
            </li>
            <li>
              <a href="#!">Terms of Use</a>
            </li>
          </ul>
        </div>
<!--        <hr class="clearfix w-100 d-md-none">-->
          <!-- Grid column -->
          <div class="col-md-2 mx-auto">
<!--            <h3 class="font-weight-bold text-uppercase mt-3 mb-4">CONNECT </h3>-->
            <ul id="social-media-icons">
              <li><a href="https://www.instagram.com" class="instagram"><ion-icon name="logo-instagram"></ion-icon></a></li>
              <li><a href="https://www.facebook.com" class="facebook"><ion-icon name="logo-facebook"></ion-icon></a></li>
              <li><a href="https://www.twitter.com" class="twitter"><ion-icon name="logo-twitter"></ion-icon></a></li>
            </ul>
          </div>
        </div>
    </div>
    <div class="footer-copyright text-center py-3">© 2020 Ada Dream Team</div>
  </footer>
</html>
