<!DOCTYPE html>
<html>
  <head>
    <title>DREAMsy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC&family=Poiret+One&family=Raleway:wght@100&display=swap" rel="stylesheet">
  </head>

  <body>
    <header class="header-container">
      <nav class="navbar navbar-expand-sm">
        <%= link_to "DREAMSy", root_path, class:"navbar-brand" %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"></button>
          <span class="navbar-toggler-icon"></span>
            <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="nav justify-content-center">
              <li class="nav-item">
                <%= link_to "MERCHANTS", users_path, class: "nav-link" %>
              </li>

              <div class="dropdown">
                  <li class="navbar-item dropdown" type="button"  id="dropdownmenu"><%=  link_to "Products", products_path, class: "nav-link"%></li><span class="caret"></span></li>
                    <ul class="dropdown-menu" aria-labelledby="dropdownmenu">
              <% Category.all.each do |category| %>
                        <li class="nav-item"><%= link_to category.category_name, category_products_path(category.id), class:"nav-link"%></li>
              <% end %>
                    </ul>
              </div>
<!--              <ul class ="navbar-nav">-->

                <%# if session[:user_id]%>
                <!--      <li>-->
                <%#= link_to "Log out", logout_path, method: :delete, class: "nav-button" %>
                <!--      </li>-->
                <!--      <li class="navbar-item dropdown-toggle main-drop" type="button" data-toggle="dropdown">My Account<span class="caret"></span></li>-->
                <!--        <ul class="dropdown-menu">-->
                <!--          <li><%#= link_to "Orders", user_path(session[:user_id]) %></li>-->
                <!--          <li><%#= link_to "Sales", user_dashboard_path(session[:user_id]) %></li>-->
                <!--        </ul>-->
                <%# else %>
                <!--      <li>-->
                <%#= link_to "Login", github_login_path, class: "nav-button" %>
                <!--      </li>-->
                <%# end %>
                <% if session[:user_id]%>
                  <li class="nav-item">
                    <%= link_to "Log out", logout_path, method: :delete, class: "nav-link" %>
                  </li>
<!--                        <li class="navbar-item dropdown-toggle main-drop" type="button" data-toggle="dropdown">My Account<span class="caret"></span></li>-->
<!--                          <ul class="dropdown-menu">-->
<!--                            <li><%#= link_to "Orders", user_path(session[:user_id]) %></li>-->
<!--                            <li><%#= link_to "Sales", user_dashboard_path(session[:user_id]) %></li>-->
<!--                          </ul>-->
                <% else %>
                  <li class="nav-item">
                    <%= link_to "Login", github_login_path, class: "nav-link" %>
                  </li>
                <% end %>
            </ul>
          </div>
        <div class="dropdown">
          <li class="navbar-item dropdown" type="button"><%= link_to '<svg width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M10 5a2 2 0 1 1-4 0 2 2 0 0 1 4 0zM8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm6 5c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
          </svg>'.html_safe, products_path, class: "bi-bi-person" %><span class="caret"></span></li>
          <ul class="dropdown-menu" >
            <li><%= link_to "Orders", user_path(session[:user_id]), class:"account-links" %></li>
            <li><%= link_to "Sales", user_dashboard_path(session[:user_id]), class:"account-links" %></li>
          </ul>
        </div>
          <%= link_to '<svg width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M8 1a2.5 2.5 0 0 0-2.5 2.5V4h5v-.5A2.5 2.5 0 0 0 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5v9a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V5H2z"/>
          </svg>'.html_safe, products_path, class: "bi-bi-bag" %>
      </nav>
    </header>
  <% if flash[:error] %>
    <div class="alert alert-warning alert-container">
      <%= flash[:error] %>
      <% if flash[:reason] %>
        <ul>
          <li><%= flash[:reason] %></li>
        </ul>
      <% end %>
    </div>
  <% elsif flash[:success] %>
    <div class="alert alert-success alert-container">
      <%= flash[:success] %>
    </div>
  <% end %>
  <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
  <%= yield %>
  </body>
  <!-- Footer -->
  <footer class="page-footer font-small stylish-color-dark pt-4">
    <!-- Footer Links -->
    <div class="container text-center text-md-left">
      <!-- Grid row -->
      <div class="row">
        <!-- Grid column -->
        <div class="col-md-4 mx-auto">
          <!-- Content -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">DREAMsy</h5>
          <p>Here you can use rows and columns to organize your footer content. Lorem ipsum dolor sit amet,
            consectetur
            adipisicing elit.</p>
        </div>
        <!-- Grid column -->
        <hr class="clearfix w-100 d-md-none">
        <!-- Grid column -->
        <div class="col-md-2 mx-auto">
          <!-- Links -->
          <h3 class="font-weight-bold text-uppercase mt-3 mb-4">CUSTOMER CARE</h3>
          <ul class="list-unstyled">
            <li>
              <a href="#!">FAQ</a>
            </li>
            <li>
              <a href="#!">Returns</a>
            </li>
            <li>
              <a href="#!">Terms & Conditions</a>
            </li>
            <li>
              <a href="#!">Privacy Policy</a>
            </li>
          </ul>
        </div>
        <!-- Grid column -->
        <hr class="clearfix w-100 d-md-none">
        <!-- Grid column -->
        <div class="col-md-2 mx-auto">
          <!-- Links -->
          <h3 class="font-weight-bold text-uppercase mt-3 mb-4">ABOUT US</h3>
          <ul class="list-unstyled">
            <li>
              <a href="#!">Our Story</a>
            </li>
            <li>
              <a href="#!">Contact Us</a>
            </li>
            <li>
              <a href="#!">Join Our Team</a>
            </li>
            <li>
              <a href="#!">Terms of Use</a>
            </li>
          </ul>
        </div>
<!--        <hr class="clearfix w-100 d-md-none">-->
          <!-- Grid column -->
          <div class="col-md-2 mx-auto">
<!--            <h3 class="font-weight-bold text-uppercase mt-3 mb-4">CONNECT </h3>-->
            <ul id="social-media-icons">
              <li><a href="https://www.instagram.com" class="instagram"><ion-icon name="logo-instagram"></ion-icon></a></li>
              <li><a href="https://www.facebook.com" class="facebook"><ion-icon name="logo-facebook"></ion-icon></a></li>
              <li><a href="https://www.twitter.com" class="twitter"><ion-icon name="logo-twitter"></ion-icon></a></li>
            </ul>
          </div>
        </div>
    </div>
    <div class="footer-copyright text-center py-3">© 2020 Ada Dream Team</div>
  </footer>


    <%# if session[:user_id]%>
<!--      <li>-->
        <%#= link_to "Log out", logout_path, method: :delete, class: "nav-button" %>
<!--      </li>-->
<!--      <li class="navbar-item dropdown-toggle main-drop" type="button" data-toggle="dropdown">My Account<span class="caret"></span></li>-->
<!--        <ul class="dropdown-menu">-->
<!--          <li><%#= link_to "Orders", user_path(session[:user_id]) %></li>-->
<!--          <li><%#= link_to "Sales", user_dashboard_path(session[:user_id]) %></li>-->
<!--        </ul>-->
    <%# else %>
<!--      <li>-->
        <%#= link_to "Login", github_login_path, class: "nav-button" %>
<!--      </li>-->
    <%# end %>
<!--  </ul>-->
<!--  <ul>-->
<!--    <li class="navbar-item dropdown-toggle main-drop" type="button" data-toggle="dropdown">Products<span class="caret"></span></li>-->
<!--      <ul class="dropdown-menu">-->
        <%#= link_to "View all", products_path %>
        <%# Category.all.each do |category| %>
<!--          <li><%#= link_to category.category_name, category_products_path(category.id) %></li>-->
        <%# end %>
<!--      </ul>-->
<!--    </li>-->
<!--    <li class="navbar-item"><%#= link_to "Merchants", users_path, class: "nav-link" %> </li>-->
<!--    <li class="navbar-item"><%#= link_to "Cart", cart_path, class: "nav-link" %> </li>-->
    <%# if @current_merchant%>
<!--      <li class="navbar-item"><%#= link_to "NEW PRODUCT", new_product_path, class: "nav-link" %> </li>-->
<!--      <li class="navbar-item"><%#= link_to "LOGOUT", logout_path, method: :delete, class: "nav-link" %> </li>-->
    <%#end %>
<!--  </ul>-->
<!--</nav>-->
<%# if flash[:error] %>
<!--  <div class="alert alert-warning alert-container">-->
    <%#= flash[:error] %>
    <%# if flash[:reasons] %>
<!--      <ul>-->
        <%# flash[:reasons].values.flatten.each do |value| %>
<!--          <li><%#= value %></li>-->
        <%# end %>
<!--      </ul>-->
    <%# end %>
<!--  </div>-->
<%# elsif flash[:success] %>
<!--  <div class="alert alert-success alert-container">-->
    <%#= flash[:success] %>
<!--  </div>-->
<%# end %>
<%#= yield %>
<!--</body>-->
</html>
