<!DOCTYPE html>
<html>
  <head>
    <title>Betsy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav>
    <ul>
      <li>
        <h1><%= link_to "DREAMsy", root_path, class: "dreamsy" %></h1>
      </li>
      <% if session[:user_id]%>
        <li>
          <%= link_to "Log out", logout_path, method: :delete, class: "nav-button" %>
          <%#= link_to "My Account", user_path(@logged_in_user) %>
          <%= link_to "My Account", user_path(session[:user_id]) %>
        </li>
      <% else %>
        <li>
          <%= link_to "Login", github_login_path, class: "nav-button" %>
        </li>

    <% end %>
    </ul>

  </nav>

  <% if flash[:error] %>
    <div class="alert alert-warning alert-container">
      <%= flash[:error] %>
      <% if flash[:reasons] %>
        <ul>
        <% flash[:reasons].values.flatten.each do |value| %>
          <li><%= value %></li>
          <% end %>
        </ul>
      <% end %>
    </div>
  <% elsif flash[:success] %>
    <div class="alert alert-success alert-container">
      <%= flash[:success] %>
    </div>
  <% end %>
  <%= yield %>
  </body>
</html>
